# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '$'
DATABASE_URL = 'postgresql://neondb_owner:npg_8K2NGYHvwnQL@ep-sweet-bonus-ahaamet1-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'